<p id="notice"><%= notice %></p>

<h1>Salaries</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Salary</th>
      <th>Annual salary</th>
      <th>Monthly nett income</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salaries.each do |salary| %>
      <tr>
        <td><%= salary.salary %></td>
        <td><%= salary.annual_salary %></td>
        <td><%= salary.monthly_nett_income %></td>
        <td><%= link_to 'Show', salary %></td>
        <td><%= link_to 'Edit', edit_salary_path(salary) %></td>
        <td><%= link_to 'Destroy', salary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salary', new_salary_path, class:"btn btn-primary" %>
