<p id="notice"><%= notice %></p>

<p>
  <strong>Salary:</strong>
  <%= @salary.salary %>
</p>

<p>
  <strong>Annual salary:</strong>
  <%= @salary.annual_salary %>
</p>

<p>
  <strong>Monthly nett income:</strong>
  <%= @salary.monthly_nett_income %>
</p>

<p>
  <strong>Tax rate:</strong>
  <%= @salary.tax_bracket_id %>
</p>

<p>
  <strong>Employee:</strong>
  <% @salary.employees.each do |employee| %>
    <%= employee.id %>
    <% end %>
</p>

<%= link_to 'Edit', edit_salary_path(@salary) %> |
<%= link_to 'Back', salaries_path %>