<p id="notice"><%= notice %></p>

<h1>Tax Brackets</h1>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tax_brackets.each do |tax_bracket| %>
      <tr>
        <td><%= tax_bracket.level %></td>
        <td><%= tax_bracket.rate %></td>
        <td><%= link_to 'Show', tax_bracket %></td>
        <td><%= link_to 'Edit', edit_tax_bracket_path(tax_bracket) %></td>
        <td><%= link_to 'Destroy', tax_bracket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tax Bracket', new_tax_bracket_path %>
